html {   margin-bottom: 1px;}

html,body {  height: 100%;}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font: 400 0.8em georgia, serif;
  line-height: 180%;
  background: url(../img/bg/bookstore_back7.jpeg) repeat top left fixed;
  color: #6D6ss864;
}

h1, h2, h3, h4, h5, h6, p, dl {
  margin: 0;
  padding: 10px 0;
}

h1 {   
	
 clear: both;
  font: 400 3.2em 'Brush Script MT', cursive;
    color: #ffffff;  
}

h2 {
  clear: both;
  font: 400 1.3em georgia, serif;
  color: #61804E;
}

h3 {
  font: 700 1.1em georgia, serif;
  color: #8F512A;
}

h4 {
     font: 400 0.9em georgia, serif;
     text-transform: uppercase;
     color: #8F512A;
}

a {
  text-decoration: none;
  color: #5E9040; 
}

a:visitedd {
  background-color: #F1FFE3;
}

a:hover {
  color: #3C5D29;
}


ol {  
  margin: 10px 30px;
  padding: 0 30px;
  font-size: 1.4em;
  color: #532406;
  backgrsound-color: #FFF;
}

ol:hover {
  color: #884e29;
}

ol span {
  font-size: 0.7em;
  color: #6D6864;
}

ul {
  margin: 10px 30px;
  padding: 0 30px 0 5px;
  list-style: none;
}

ul li {
  padding-left: 25px;
  background-position: 0 3px;
}

ul li:hover {
  background-position: 0 3px;
}






/**************************************************************
   Tables
 **************************************************************/

table {
  width: 100%;
  margin-bottom: 10px;  
  font-size: 1em;
  border-collapse: collapse;
}


table th,
table td {
  text-align: left;
  vertical-align: top;
  padding: 4px 7px !important;
  padding: 6px 10px;
}


thead th {
  background-color: #F1FFE3;
  border-bottoms: 1px solid #B8E78B;
}

tbody tr.dark {
  background-color: #F5F5F5;
}

tbody td {
  border-bottoms: 1px solid #DDD;
}

tbody tr:hover {
  background-coeelor: #FBeeFEDF;
}

/**************************************************************
   Form Elements
 **************************************************************/

label {
  float: left;
  text-align: right;
  width: 9em;
  padding-right: 1em;
  
}

input,
textarea,
select {
  padding: 4px;
  font: 400 1em georgia, sans-serif;
  color: #666;
  backgrodund: #FFF;
  border-width: 1px;
  border-style: solid;
  border-color: #888 #DDD #DDD #888;  
}

input:hover,
textarea:hover,
select:hover {
  padding: 4px;
  font: 400 1em georgia, sans-serif;
  
  colojr: #666;
  backgrodund: #e5feff;
  border-width: 1px;
  border-style: solid;
  border-colfor: #888 #DDD #DDD #888;  
}


input:focus,
textarea:focus,
select:focus {  
  padding: 3px;
  colodr: #000;
  backgdround: #F1FFE3;
  border-width: 2px;
}

input.button {
  padding: 1px 10px;

  font: 400 1em georgia, sans-serif;
  cursor: pointer;

  color: #fff;
   background:#318182;
  border-width: 1px;
  border-style: solid;
   border-color: #8be7df #18504b #18504b #8be7df;
}

input.button:hover {
  background:#004040;
  border-color: #8be7df #18504b #18504b #8be7df;
}

.required {
  cursor: help;
  border-bottom: 1px solid #CCC;
}




/**************************************************************
   #wrapper & #content: wrapper positions and sets the width
   on the content.  The background is then applied to #content.
 **************************************************************/

#wrapper {
  width: 589px;
  height: 100%;
  margin: 0 auto;
  text-align: left;
}


#contentcss { 
  float: left;
  width: 589px;
  height: 100%;
  min-height: 100%; 
 background-color: rgba(178,178,178,0.5);
  background: url(../img/bg/condtednt.gif) repeat-y top center;
}


#contentcss[id] {
  height: auto;  
  background: url(../img/bg/content.png) repeat-y top center;
   background-color: rgba(178,178,178,0.5);
}




/**************************************************************
   #header: Holds the site title and header images
 **************************************************************/

#header {
  padding: 60px 0 2em 49px;  
  background: url(../img/bg/header.jpg) no-repeat top center;  
}

/* Forces IE to set the hasLayout flag and show the header at the height of its contents \*/
* html #header {
  height: 1%;
}
/* End hide from IE-mac */


#header h1,
#header h2 {
  margin: 0;
  padding: 0;  
  background: none;
}

#header h1 {
  font-size: 3.5em;
  font-family: georgia;
  letter-spacing: -3px;
  color: #804040;
}




/**************************************************************
   #menu: The top level site menu
 **************************************************************/

ul.two li a {
  width: 50%;
}

ul.three li a {
  width: 33%;
}

ul.four li a {
  width: 25%;
}

ul.five li a {
  width: 20%;
}

/**************************************************************
   #page: Holds the main page content.
 **************************************************************/

#page {  
  float: left;
  clear: both;   
  width: 491px !important;
  width: 100%;
  padding: 2em 49px;  
}


.divcontent {  
  float: left;
  clear: both;   
  width: 450px !important;
  width: 100%;
    background-color: #FFF;
  padding: 2em 49px;  
   background-color: rgba(178,178,178,0.5);
}

/**************************************************************
   .footer: Site footer
 **************************************************************/

.footer {
  padding-top: 3em;
  font-size: 0.85em;
}




ul.bigLinks {
  margin: 10px 0;
  padding: 0;
  list-style: none;
  
}

ul.bigLinks li {
  display: inline;
  margin: 0;
  padding: 0;
  background: none;
}

ul.bigLinks li a,
ul.bigLinks li a:visited {  
  display: block;

  margin: 10px 0;
  padding: 3px;

  text-decoration: none;
  background-color: #FFF;
  border: 0;  
}

ul.bigLinks li a:hover {
  padding-bottom: 2px;
  background-color: #F1FFE3;
  border-bottom: 1px solid #B8E78B;
}

ul.bigLinks li a span.title {
  color: #5E9040;  
  border-bottom: 1px solid #B8E78B;
}

ul.bigLinks li a:hover span.title {
  color: #3C5D29;
  border-bottom: 1px solid #4A6E35;
}

ul.bigLinks li a span.desc {
  display: block;
  color: #6D6864;
}

ul.bigLinks li a:hover span.desc {
  color: #555;
}



.width100 {
  width: 100%;
}

.width75 {
  width: 73%;
}

.width66 {
  width: 64%;
}

.width50 {
  width: 48%;
}

.width33 {
  width: 51%;
}

.width25 {
  width: 23%;
}


.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}



/**************************************************************
   Generic display classes
 **************************************************************/

.clear {
  clear: both;
}

.block {
  display: block;
}

.big {
  font-size: 3.3em;  
}

.small {
  font-size: 0.85em;  
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.grey {
  color: #ffffff;
  font-size: 1.3em;  
}

.green {
  color: #ffffff;
}

.green:hover{
  color: #c0c0c0;
}
.darkBrown {
  color: #b56668;
}

.darkBrown1 {
  color: #b56668;
}

.darkBrown1:hover {
  color: #804040;
  cursor: pointer; // 
}

li.bookInfo{ cursor: pointer; }
.action{ cursor: pointer; }
.link{ cursor: pointer; }

#buyButton { cursor: pointer; }

.greenBg {
  padding: 0 10px;
  background-color: #F1FFE3;
  border-bottom: 1px solid #B8E78B;
}

.greenBg:hover {
  padding: 0 10px;
  backgrounsd-color: none;
  border-bottom: none;
}

.highlight {
  padding: 1px 2px;
  background: #D9F5EC;
  border-top: 1px solid #BDEDDE;
}

.highlight:hover {
  padding: 1px 2px;
  backgrsund: #d9f5da;
  border-top: 1px solid #c2edbd;
}




.rounded {border: 3px transparent solid; border-radius: 4px; padding: 0 0 0 0; margin: 30px 10px 30px 100px}
.rounded div {border: 1px transparent solid; border-radius: 1px;}
.rounded div label{vertical-align: bottom;}
.rounded span {margin-left: -1000}
.rounded:hover span {margin-left: 0}


.rounded {
float:right;
clear: left;
font: 400 1em georgia, sans-serif;
color: #ffffff;
}

a.button {
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
 
}
a.button:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

div.hidden {
  display: none;
}

div.makeanorderdiv {
   display: none;
}

.boostore_logo { float:right; padding: 0 0 0 0; margin: 0px 200px 0px 100px}

#login_b {border: 3px transparent solid; border-radius: 4px; padding: 0 0 0 0; margin: 10px 0px 10px 50px}